<!--查询统计 精确查询-->
<div class="panel">
    <div class="panel-heading  panel-primary">
        精确查询
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <form class="form-horizontal" role="form">
                <!-- 按需查询 -->
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-md-2 control-label notwrap">申报人：</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model=searchPreciseParams.staff>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" ng-model="auditStatus" ng-init="auditStatus='根组织'">
                                <option>根组织</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" ng-click="searchExamine()">查询</button>
                        </div>
                    </div>
                </div>
                <!-- 按需查询 -->
                <!-- 精确查询表格 -->
                <div class="row">
                    <div class="inbox-body padding-md">
                        <div class="message-table table-responsive">
                            <table class="table table-bordereds">
                                <thead class="text-center">
                                    <tr>
                                      <th  ng-click='SortApproval3($index)' ng-repeat="str in approvalArray3" style="cursor:pointer;white-space:nowrap;" title="点击{{str}}排序">{{str}}
                                        <span class="caret" ng-class="{'sorting':itemsApproval3==$index?approvalSwitch3:false}">&nbsp;</span></th><!--233-->
                                    </tr>
                                </thead>
                                <tbody ng-repeat="(key, value) in searchPreciseData |limitTo :limit:(pageNumer-1)*limit|orderBy:approvalOrdery3:approvalSwitch3">
                                    <td ng-bind="value.staff" style="max-width: 100px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap"></td>
                                    <td ng-bind="value.staffOrgName"></td>
                                    <td ng-bind="value.eventType==1?'婚嫁':'丧葬'"></td>
                                    <td ng-bind="value.peopleCount"></td>
                                    <td ng-bind="value.createTime"></td>
                                    <td ng-bind="value.eventDate"></td>
                                    <td ng-bind="value.auditStatus?'通过':'拒绝 '"></td>
                                    <td ng-bind="value.auditContent"></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- 精确查询表格 -->
                <!-- 分页 -->
                <div class="row">
                    <ul class="pagination ulli " id="generate" ng-hide="isHide">
                        <li class="ulli" ng-click="previousPage()"><a>&laquo;</a></li>
                        <li class="lia ulli" ng-repeat="(key, value) in page" ng-click="changePage()" ng-class="{true:'active',false:''}[pageNumer-1==$index]">
                            <a ng-bind="value"></a>
                        </li>
                        <li class="ulli" ng-click="nextPage()"><a>&raquo;</a></li>
                    </ul>
                </div>
                <!-- 分页 -->
                <!-- Button trigger modal -->
            </form>
        </div>
    </div>
</div>
